@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.container-header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 15px;
    padding: 10px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.logo .image {
    width: 100px;
}

.logo .text {
    font-size: 24px;
}

.hero-img {
    height: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
   
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
    padding-left: 0;
    padding: 10px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.hero .content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.content .main {
    font-size: 48px;
    font-weight: bolder;
}

.content .secondary {
    font-size: 18px;
    color: #b2b5ba;
}

.sign-up {
    border-radius: 8px;
    padding: 10px 20px;
    background: royalblue;
    color: white;
    border: none;
    width: 100px;
    flex: 0 0 auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 50px;
    padding-bottom: 100px;
}

.information .title {
    font-size: 36px;
    font-weight: bolder;
}

.containter-information {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
   gap: 50px;

}

.block img {
    width: 200px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.block .text {
    max-width: 300px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 10px;
}

.quote .main {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
}

.quote .author {
    align-self: flex-end;
    padding-right: 80px;
    font-weight: bold;
}

.action {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.banner {
    display: flex;
    background-color: royalblue;
    color: white;
    padding: 50px;
    border-radius: 8px;
    justify-content: space-around;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner .sign-up {
    outline: 2px solid white;
}

.question .header {
    font-weight: bold;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}